#answer_box {
  background-color: #00ba9e;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #006657;
  text-align: center;
  height: 500px;
}

#answer {
  position: relative;
  top: 115px;
  font-family: monospace;
  font-size: 100px;
}
