body {
  background-color: #161b4c;
  font-family: monospace;
}

.home-title {
  font-size: 70px;

  text-align: center;
  padding: 100px;
  background-color: #0e6ba8;
  color: #00e5ff;
  border-color: #06bcc1;
  border-radius: 50px;
  border-style: solid;
  border-width: 10px;
}

.about {
  background-color: #0e6ba8;
  padding-left: 100px;
  padding-top: 50px;
  height: 600px;
  border-radius: 50px;
  border-style: solid;
  border-color: hsl(182, 94%, 39%);
  border-width: 10px;
}

.about-text {
  position: relative;
  bottom: 450px;
  right: 30px;
  font-size: 35px;
  margin-left: 400px;
  padding: 28px;
  background-color: #06bcc1;
  width: 700px;
  border-radius: 50px;
}

.portrait {
  width: 300px;
  border-radius: 10%;
  border-style: solid;
  border-color: #06bcc1;
  border-width: 10px;
}

.about-heading {
  margin: auto;
  width: 20%;
  padding: 0px 10px 0px 10px;
  font-size: 60px;
  background-color: #06bcc1;
  text-align: center;
  border-radius: 50px;
}

.collage {
  position: relative;
  width: 500px;
  border-radius: 10%;
  border-style: solid;
  border-color: #06bcc1;
  border-width: 10px;
  float: right;
  right: 80px;
}
